
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}
header{
position: fixed;
top: 0;
left: 0;
width: 100%;
background: transparent
}
    .flex {
        display: flex;
        align-items: center;
    }
    .container{
        background:transparent
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        
    }
    .navbar{
    justify-content: space-between;

}
.navbar a{
    color: #fff;
}
.nav-links{
    gap: 20px;

}
